<% content_for :page_title, @page.title %>

<div class="title">
  <h2><%= @page.title %></h2>
</div>
<div class="content">
  <%= @page.contents %>
</div>
<div class="footer clearfix">
  <% temp_page = @page.next
     if temp_page %>
      <div class="next">
        <%= link_to "#{temp_page.title} »", :filename => temp_page.filename %>
      </div>
  <% end %>
  <% temp_page = @page.prev
     if temp_page %>
      <%= link_to "« #{temp_page.title}", :filename => temp_page.filename %>
  <% end %>
</div>